<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings file="PrivateAppSettings.config">
    <!--
      # To prevent private settings being committed By Git, 
        create a external file "PrivateAppSettings.config" to extend current <appSettings> values.
        
      # Remarks:
      - UniqueAppName: YourAppName (Only one instance of this app is allowed)
      - AppEnvironment: Local, Dev, Uat, Prod (Default Local)  
      - AppTimerIntervalMiliSeconds: {int} delay from app running in milliseconds
      - ShowApplication: {bool} show/hide the application window
      - SftpDownloadDirectory: The SFTP directory for download
      - SftpDownloadFilename: The SFTP filename for download
      - SftpUploadDirectory: The SFTP directory for upload
      - SystemEmailCc: the mail cc list, using "," or ";" as delimeter.
      - DownloadPath: The local directory path for downloading process
      - WorkingPath: The local directory path for task working process
      - ArchivePath: The local directory path for backup completed task
    -->
    <add key="UniqueAppName" value="SftpDataExport.001" />
    <add key="AppEnvironment" value="Local" />
    <add key="AppTimerIntervalMiliSeconds" value="3000" />
    <add key="ShowApplication" value="true" />
    <add key="SftpHost" value="127.0.0.1" />
    <add key="SftpPort" value="8022" />
    <add key="SftpUsername" value="foo" />
    <add key="SftpPassword" value="bar" />
    <add key="SftpDownloadDirectory" value="/Source/" />
    <add key="SftpDownloadFilename" value="sample.csv" />
    <add key="SftpUploadDirectory" value="/Upload/" />
    <add key="SmtpServer" value="127.0.0.1" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpAccount" value="" />
    <add key="SmtpPassword" value="" />
    <add key="SmtpEnableSsl" value="false"/>
    <add key="SenderName" value="noreply@users.noreply.github.com" />
    <add key="SenderEmail" value="noreply@users.noreply.github.com" />
    <add key="SystemEmailSubjectPrefix" value="SftpDataExport" />
    <add key="SystemEmailTo" value="" />
    <add key="SystemEmailCc" value="" />
    <add key="DownloadPath" value="c:\temp\SftpDataExport\download" />
    <add key="WorkingPath" value="c:\temp\SftpDataExport\working" />
    <add key="ArchivePath" value="c:\temp\SftpDataExport\archive" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>